.card {
  display: inline-block;
  height: 335px;
  width: 240px;
  background-image: url(https://cdn.rawgit.com/tyrcho/fa8bec7cc670515cd250a9dcfad5898f/raw/2d6bb400ab12bf785a29ba06202cbec789617801/Color_52_Faces_v.2.0.svg);
}
.Aclubs {
  background-position: -500px -1166px;
}
.Ahearts {
  background-position: -500px -1541px;
}
.TwoHearts {
  background-position: -781px -1541px;
}
.ThreeHearts {
  background-position: -1062px -1541px;
}